__pycache__/
*.pyo
*.pyd
*.pyc
*.pdb
*.log

*.sqlite3
*.db
*.db-journal
media/
local_settings.py
.env
.env.*

staticfiles/
static/admin/
media/


.vscode/
.idea/

venv/


*.drawio

htmlcov/
.coverage
coverage.xml
*.cover
.pytest_cache/
nosetests.xml
test-results/
my_bootstrap
my_git

src/dashboard/static/adminlte/plugins/


