<div class="card mt-3">
    <div class="card-header bg-dark text-light fw-bold">
        SEO блок:
    </div>
    <div class="card-body">
        <div class="mb-2">
            <label class="form-label">{{ seo_form.slug.label }}</label>
            {{ seo_form.slug }}
        </div>
        <div class="mb-2">
            <label class="form-label">{{ seo_form.title.label }}</label>
            {{ seo_form.title }}
        </div>
        <div class="mb-2">
            <label class="form-label">{{ seo_form.keywords.label }}</label>
            {{ seo_form.keywords }}
        </div>
        <div class="mb-2">
            <label class="form-label">{{ seo_form.description.label }}</label>
            {{ seo_form.description }}
        </div>
    </div>
</div>



<!-- <div class="card mt-3">
    <div class="card-header bg-light fw-bold">SEO блок:</div>
    <div class="card-body">
        {{ form.seo_url.label_tag }}
        {{ form.seo_url }}

        {{ form.seo_title.label_tag }}
        {{ form.seo_title }}

        {{ form.seo_keywords.label_tag }}
        {{ form.seo_keywords }}

        {{ form.seo_description.label_tag }}
        {{ form.seo_description }}
    </div>
</div> -->