{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Номер зала</label>
            <input type="text" name="name" class="form-control" value="{{ hall.name }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Описание зала</label>
            <textarea name="description" class="form-control" rows="3">{{ hall.description }}</textarea>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label>Схема зала</label>
                <input type="file" name="scheme" class="form-control">
            </div>
            <div class="col-md-6">
                <label>Верхний баннер</label>
                <input type="file" name="top_banner" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Галерея картинок (1000x190)</label>
            <input type="file" name="gallery" multiple class="form-control">
        </div>

        {% include "dashboard/includes/seo_block.html" %}

        <button class="btn btn-primary mt-4">Сохранить</button>
    </form>
</div>
{% endblock %}